ConsoleApp1/bin/Debug/netcoreapp3.1/music
ConsoleApp1/bin/Debug/netcoreapp3.1/sfx
ConsoleApp1/bin/Debug/netcoreapp3.1/queue
ConsoleApp1/bin/
ConsoleApp1/obj
ConsoleApp1/properties
.vs/WheelchairBot/v16/.suo
.vs/WheelchairBot/DesignTimeBuild/
.vs/